/* Theme override (start classes with: ----- body.itstars ----- ) */

body.itstars .header_6 .header_main_menu_wrapper {
    margin-top: 28px !important;
}

body.itstars .header_6 .magic_line {
    bottom: -5px;
}


body.itstars .stm_lms_courses__single.style_2 .stm_lms_courses__single--title h5 {
    margin-bottom: 10px;
    text-align: left;
}

body.itstars .stm_lms_courses__single.style_2 .stm_lms_courses__single--terms .stm_lms_courses__single--term {
    margin-bottom: 10px;
    text-align: left;
}

body.itstars .start-course {
    padding-top: 33px;
    padding-bottom: 30px;
}

/* Theme override */

.tech__stm_lms_lesson_header {
    padding: 10px 0;
}

@media (min-width: 992px) {

    .tech__stm_lms_lesson_header__row {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 767px) {

    .container-fluid--tech__lesson-wrapper {
        padding: 0;
    }

    .container-fluid--tech__lesson {
        padding: 0 !important;
    }
}

@media (min-width: 768px) {

    .tech__stm_lms_lesson_header .stm_lms_lesson_header__right {
        justify-content: flex-end;
    }
}

@media (max-width: 1024px) {

    .tech__stm_lms_lesson_header .stm_lms_lesson_header__right {
        margin-top: 0;
    }
}

@media (max-width: 767px) {

    .tech__stm_lms_lesson_header .stm_lms_lesson_header__right {
        margin-top: 20px;
    }

    .tech__stm_lms_lesson_header .stm_lms_lesson_header__right .stm_lms_account_dropdown .dropdown-menu {
        left: 0 !important;
        right: auto !important;
    }
}

.tech__stm_lms_lesson_header .stm_lms_lesson_header__right .stm_lms_wishlist_button {
    display: none !important;
}

.stm_lms_account_dropdown .lnr.lnr-user {
    font-size: 20px;
	vertical-align: -3px;
}

.stm_lms_account_dropdown .login_name {
	display: none !important;
}

.tech__course-price {
    margin-top: 30px;
}

.tech__course-price strong {
    font-size: 30px;
}

.tech__course-price span {
    font-size: 20px;
    color: gray;
    text-decoration: line-through;
}

.tech__livetime-block img {
    width: 28px;
}

.courses_filters__switcher {
    display: none !important;
}

.tech__stm-lms-lessons {
    padding-top: 0 !important;
}

.tech__stm-lms-lessons video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.tech__curriculum {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.tech__curriculum .stm-curriculum__title {
    margin: 0 0 20px 0;
}

.stm_lms_lesson_header__left .stm-lms-curriculum-trigger {
    display: none !important;
}

.tech__coming-soon-badge {
    position: absolute;
    top: calc(50% - 26px);
    left: 50%;
    transform: translateX(-50%);
    transition: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #ffffff;
    white-space: nowrap;
    background-color: rgb(0 0 0 / 35%);
    border-radius: 10px;
}

.tech__course-single-excerpt p {
    height: 3em;
    overflow: hidden;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tech__course-single-rating-price {
    margin-bottom: 20px;
}

.tech__course-single-rating-price .stm_lms_courses__single--price {
    display: flex;
    align-items: end;
}

.tech__course-single-rating-price .stm_lms_courses__single--price span {
    font-size: 16px;
    margin: 0 10px -2px 0;
}

.tech__course-single-rating-price .stm_lms_courses__single--price strong {
    font-size: 20px;
	white-space: nowrap;
}

.tech__course-single-rating {
    margin-bottom: 20px;
}

/* Video lesson page background changes */
html.stm_lms_type_video body {
	color: #273044;
}

html.stm_lms_type_video body {
 	background: none; 
}

html.stm_lms_type_video body .stm_lms_lesson_header {
    border-bottom: 1px solid #ddd;
}

html.stm_lms_type_video body .stm_lms_lesson_header__right a {
	color: #00c691;
	opacity: 1;
}

@media (max-width: 1024px) {

    html.stm_lms_type_video body .stm_lms_lesson_header .stm_lms_lesson_header__center {
        text-align: left;
    }
}

@media (max-width: 550px) {

    html.stm_lms_type_video body .stm_lms_lesson_header .stm_lms_lesson_header__center {
        margin: 0;
    }
}

html.stm_lms_type_video body .stm_lms_lesson_header .stm_lms_lesson_header__center a {
    color: #273044;
}

html.stm_lms_type_video body .stm_lms_lesson_header .stm_lms_lesson_header__center a:hover {
    color: #042d89;
}

html.stm_lms_type_video body .stm_lms_lesson_header .stm_lms_account_dropdown .dropdown button {
	background-color: #f0f4fa;
	border: 1px solid #f0f4fa;
}

html.stm_lms_type_video body .stm_lms_account_dropdown .dropdown button i {
	color: #385bce !important;
}

/* Contact Page */
body.page-id-413 .icon .fa-telegram-plane {
    width: 35px;
    height: 35px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url('https://itstars.uz/wp-content/themes/masterstudy-child/images/telegram-o.svg');
}
body.page-id-413 .icon .fa-telegram-plane:before {
    display: none;
}

.stm_lms_course_sticky_panel.is-visible {
	display: none !important;
}

.stm-curriculum-item {
	flex-wrap: nowrap !important;
}

/* Registration form */

form.stm_lms_register_wrapper {
    position: relative;
}

form.stm_lms_register_wrapper > .row:first-child > .col-md-6:nth-child(3) {
    width: calc(100% - 70px);
    position: absolute;
    bottom: 95px;
    left: 35px;
}

form.stm_lms_register_wrapper > .row:last-child {
    margin-top: 190px;
}

/* Registration form ends */

.stm-lms-modal-enterprise .stm_lms_enterprise_wrapper {
    background-color: #FFF;
}

.stm-lms-modal-enterprise .modal-body .close {
    color: black !important;
}

.stm-lms-modal-enterprise .modal-body .btn {
    font-size: 20px;
}

.stm-curriculum-item.lms-active .heading_font {
    color: #00c691 !important;
}