.user-green {
    background: #0a9347;
    color: #fff;
}

.user-red {
    background: red;
    color: #fff;
}

.user-yellow{
    background: yellow;
    color: black;
}

.user-admin-button {
  width: 80px;
    cursor: pointer;
    padding: 3px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.user-stm-loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

th#accept {
    width: 300px;
}

